@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Golos Text", sans-serif;
  background-color: #f0f2f5;
}
.container {
  max-width: 1310px;
  margin: 0 auto;
}
header {
  border-bottom: 1px solid #dce2eb;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar img {
  cursor: pointer;
}
.logFlex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.logFlex ul {
  list-style: none;
}
.logFlex ul li {
  font-size: 15px;
  font-weight: 500;
  font-family: "Golos Text", sans-serif;
  color: #202020;
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid transparent;
  transition: all 0.3s;
}
.logFlex ul li:hover {
  border-bottom: 1px solid;
  border-color: #1cca59;
}
.btnFlex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #e5eaf0;
  padding: 6px 8px;
  border-radius: 10px;
  cursor: pointer;
}

.btn h4 {
  font-size: 9px;
  font-weight: 400;
  font-family: "Golos Text", sans-serif;
  color: #7a7a7a;
}
.btn p {
  font-size: 15px;
  font-weight: 500;
  font-family: "Golos Text", sans-serif;
  color: #202020;
}
.btnFlex button {
  padding: 12px 25px;
  border-radius: 10px;
  border: none;
  background-color: #1cca59;
  color: #fff;
  font-size: 13px;
  font-family: "Golos Text", sans-serif;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s;
}
.btnFlex button:hover {
  background-color: #e5eaf0;
  color: #202020;
}

.swpier {
  width: 100%;
  height: 320px;
  margin-top: 20px;
  border-radius: 20px;
  background-image: url("https://hamkorbank.uz/assets/images-cache/products/physical/autocredit/hero_xl.eb57a96d.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.swpier h4 {
  font-size: 40px;
  font-weight: 600;
  font-family: "Golos Text", sans-serif;
  color: #202020;
  padding-top: 20px;
  padding-left: 25px;
}
.swpier p {
  font-size: 16px;
  font-weight: 400;
  font-family: "Golos Text", sans-serif;
  color: #202020;
  margin-top: 10px;
  padding-left: 20px;
}

.swpier button {
  padding: 15px 20px;
  border: none;
  background-color: #1cca59;
  color: #fff;
  font-size: 16px;
  font-family: "Golos Text", sans-serif;
  font-weight: 500;
  cursor: pointer;
  margin-top: 150px;
  margin-left: 20px;
  border-radius: 10px;
  transition: all 0.3s;
}
.swpier button:hover {
  background-color: #e5eaf0;
  color: #202020;
}

.cart {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}
.cartBox {
  width: 205px;
  height: 300px;
  background-color: #ffffff;
  overflow: hidden;
  border-radius: 20px;
}
.cartBox img {
  width: 200px;
}
.cartBox h4 {
  font-size: 20px;
  font-weight: 600;
  font-family: "Golos Text", sans-serif;
  color: #202020;
  margin-top: 10px;
  margin-left: 15px;
}
.cartBox p {
  font-size: 16px;
  font-weight: 400;
  font-family: "Golos Text", sans-serif;
  color: rgb(124, 133, 141);
  margin-top: 8px;
  margin-left: 15px;
}
.cartBox button {
  padding: 10px 20px;
  border: none;
  background-color: #1cca59;
  color: #fff;
  font-size: 15px;
  font-family: "Golos Text", sans-serif;
  font-weight: 500;
  cursor: pointer;
  margin-top: 50px;
  margin-left: 15px;
  border-radius: 10px;
  transition: all 0.3s;
}
.cartBox button:hover {
  background-color: #e5eaf0;
  color: #202020;
}
.grid {
  margin-top: 40px;
}
.text {
  margin-bottom: 15px;
  font-size: 32px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}
.parent {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 20px;
}
.div1 {
  grid-column: span 3 / span 3;
  grid-row: span 3 / span 3;
  width: 470px;
  height: 280px;
  background-color: #ffffff;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.div2 {
  grid-column: span 2 / span 2;
  grid-row: span 3 / span 3;
  grid-column-start: 4;
  width: 400px;
  height: 280px;
  background-color: #ffffff;
  margin-left: -139px;
  border-radius: 20px;
  position: relative;
}

.div3 {
  grid-column: span 2 / span 2;
  grid-row: span 3 / span 3;
  grid-column-start: 6;
  width: 400px;
  height: 280px;
  background-color: #ffffff;
  margin-left: -90px;
  border-radius: 20px;
  position: relative;
}

.div4 {
  grid-column: span 2 / span 2;
  grid-row: span 3 / span 3;
  grid-row-start: 4;
  width: 400px;
  height: 280px;
  background-color: #ffffff;
  border-radius: 20px;
  position: relative;
}

.div5 {
  grid-column: span 2 / span 2;
  grid-row: span 3 / span 3;
  grid-column-start: 3;
  grid-row-start: 4;
  width: 400px;
  height: 280px;
  background-color: #ffffff;
  border-radius: 20px;
  position: relative;
}

.div6 {
  grid-column: span 3 / span 3;
  grid-row: span 3 / span 3;
  grid-column-start: 5;
  grid-row-start: 4;
  width: 470px;
  height: 280px;
  background-color: #ffffff;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.parent h4 {
  font-size: 24px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: #202020;
  margin-top: 30px;
  margin-left: 25px;
  position: relative;
}
.parent p {
  font-size: 16px;
  font-weight: 400;
  font-family: "Golos Text", sans-serif;
  color: rgb(124, 133, 141);
  margin-top: 10px;
  margin-left: 25px;
  position: relative;
}
.parent button {
  position: absolute;
  bottom: 20px;
  padding: 10px 20px;
  border: none;
  background-color: #1cca59;
  color: #fff;
  font-size: 15px;
  font-family: "Golos Text", sans-serif;
  font-weight: 500;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 25px;
  border-radius: 10px;
  transition: all 0.3s;
}
.parent button:hover {
  background-color: #e5eaf0;
  color: #202020;
}
.parent img {
  position: absolute;
  width: 240px;
  bottom: 0px;
  right: 0px;
}

.parenT {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 15px;
}

.div7 {
  grid-column: span 3 / span 3;
  grid-row: span 6 / span 6;
  height: 330px;
  width: 600px;
  border-radius: 20px;
  background-image: url("https://hamkorbank.uz/assets/images-cache/about_bank_card_xl.27cebd81.webP");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px 20px;
  position: relative;
}

.div8 {
  grid-column: span 2 / span 2;
  grid-row: span 3 / span 3;
  grid-column-start: 4;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 30px 20px;
}

.div9 {
  grid-column: span 2 / span 2;
  grid-row: span 3 / span 3;
  grid-column-start: 6;
  background-color: #ffffff;
  border-radius: 20px;
}

.div10 {
  grid-column: span 2 / span 2;
  grid-row: span 3 / span 3;
  grid-column-start: 4;
  grid-row-start: 4;
  background-color: #ffffff;
  border-radius: 20px;
}

.div11 {
  grid-column: span 2 / span 2;
  grid-row: span 3 / span 3;
  grid-column-start: 6;
  grid-row-start: 4;
  background-color: #ffffff;
  border-radius: 20px;
}
.div8 i {
  font-size: 30px;
  cursor: pointer;
  margin-left: 25px;
  padding-top: 20px;
}
.div8 h4 {
  font-size: 20px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: #202020;
  margin-top: 14px;
  margin-left: 25px;
  position: relative;
}
.div8 p {
  font-size: 15px;
  font-weight: 400;
  font-family: "Golos Text", sans-serif;
  color: rgb(124, 133, 141);
  margin-top: 7px;
  margin-left: 25px;
  position: relative;
}

.div7 h3 {
  font-size: 24px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  line-height: 1.5;
  margin-top: 0px;
  margin-left: 20px;
}
.div7 p {
  font-size: 16px;
  font-weight: 400;
  font-family: "Golos Text", sans-serif;
  color: #fff;
  line-height: 1.5;
  margin-top: 10px;
  margin-left: 20px;
}
.div7 button {
  position: absolute;
  bottom: 30px;
  padding: 10px 20px;
  border: none;
  background-color: #1cca59;
  color: #fff;
  font-size: 15px;
  font-family: "Golos Text", sans-serif;
  font-weight: 500;
  cursor: pointer;
  margin-left: 25px;
  border-radius: 10px;
  transition: all 0.3s;
}
.div7 button:hover {
  background-color: #e5eaf0;
  color: #202020;
}

.visaFlex {
  width: 100%;
  height: 330px;
  border-radius: 20px;
  background-image: url("https://hamkorbank.uz/assets/images-cache/mobile-app/mobile_app_phys_xl.09ca5e41.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 20px;
  overflow: hidden;
  padding: 30px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.visaFlex h4 {
  font-size: 32px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: #202020;
  line-height: 1.5;
  margin-top: 0px;
  margin-left: 0px;
}
.visaFlex ul li {
  font-size: 18px;
  font-weight: 400;
  font-family: "Golos Text", sans-serif;
  color: #202020;
  line-height: 1.5;
  margin-top: 10px;
  margin-left: 20px;
}
.secener {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 35px;
}
.secener img {
  width: 80px;
  height: 80px;
  background-color: #fff;
  padding: 10px;
  object-fit: cover;
  border-radius: 15px;
}
.secener h5 {
  font-size: 16px;
  font-weight: 600;
  font-family: "Golos Text", sans-serif;
  color: #202020;
}
.secener p {
  font-size: 14px;
  font-weight: 400;
  font-family: "Golos Text", sans-serif;
  color: #202020;
}
.mobilApp {
  width: 600px;
  position: absolute;
  bottom: 0;
  right: 30px;
}

.cart-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 60px;
}
.cart_box {
  width: 800px;
  height: 330px;
  border-radius: 20px;
  background-color: #fff;
}
.cart_box2 {
  width: 400px;
  height: 330px;
  border-radius: 20px;
  background-color: #fff;
}

.boxtext {
  padding: 40px 30px;
  position: relative;
}
.imgFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.imgFlex img {
  width: 50px;
  border-radius: 10px;
  cursor: pointer;
}
.imgFlex h3 {
  font-size: 24px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: #202020;
}
.boxtext p {
  font-size: 14px;
  font-weight: 400;
  font-family: "Golos Text", sans-serif;
  color: rgb(124, 133, 141);
  margin-top: 10px;
  line-height: 1.5;
  margin-top: 110px;
}

.boxtext button {
  position: absolute;
  bottom: 20px;
  padding: 10px 20px;
  border: none;
  background-color: #1cca59;
  color: #fff;
  font-size: 14px;
  font-family: "Golos Text", sans-serif;
  font-weight: 500;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.3s;
}
.boxtext button:hover {
  background-color: #e5eaf0;
  color: #202020;
}

/* Umumiy Footer stillari */
.bank-footer {
  background-color: #e9ecf2; /* Orqa fon rangi */
  color: #333333;
  padding: 40px 60px 30px 60px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.footer-container {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.footer-column {
  flex: 1;
  min-width: 180px;
}

/* Telefonlar qismi */
.contact-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.phone-group {
  display: flex;
  flex-direction: column;
}

.phone-number {
  font-size: 18px;
  font-weight: 600;
  color: #202020;
  font-family: "Montserrat", sans-serif;
}

.phone-label {
  font-size: 14px;
  color: rgb(124, 133, 141);
  margin-top: 4px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}

/* Linklar ro'yxati */
.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li {
  margin-bottom: 15px;
}

.footer-column ul li a {
  text-decoration: none;
  color: #333d4d;
  font-size: 16px;
  font-family: "Golos Text", sans-serif;
  font-weight: 400;
  transition: color 0.2s ease;
}

.footer-column ul li a:hover {
  color: #1cca59;
}

/* Mobil bank qismi */
.mobile-bank-column {
  display: flex;
  /* justify-content: flex-end; */
  margin-top: -65px;
}

.mobile-bank-container {
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: transparent;
}

.bank-logo-wrapper {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.bank-logo img {
  width: 35px;
  height: 35px;
  object-fit: cover;
  cursor: pointer;
}

.mobile-bank-text h4 {
  margin: 0;
  font-size: 15px;
  font-weight: 600;
  color: #202020;
  font-family: "Golos Text", sans-serif;
}

.mobile-bank-text p {
  margin: 2px 0 0 0;
  font-size: 12px;
  color: rgb(124, 133, 141);
  font-weight: 400;
  font-family: "Golos Text", sans-serif;
}

.footer-divider {
  border: none;
  border-top: 1px solid #d4daf0;
  margin: 30px 0 20px 0;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.corruption-btn {
  padding: 12px 25px;
  border-radius: 10px;
  border: none;
  background-color: #1cca59;
  color: #fff;
  font-size: 13px;
  font-family: "Golos Text", sans-serif;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s;
}

.corruption-btn:hover {
  background-color: #e5eaf0;
  color: #202020;
}

.social-icons {
  display: flex;
  gap: 25px;
}

.social-link {
  color: #5c677d;
  font-size: 25px;
  transition: color 0.2s ease;
  display: flex;
  align-items: center;
}

.social-link:hover {
  color: #1cca59;
}

/* Mobil qurilmalar uchun moslashuvchanlik (Responsive) */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    gap: 30px;
  }

  .mobile-bank-column {
    justify-content: flex-start;
  }

  .footer-bottom {
    flex-direction: column;
    align-items: flex-start;
  }
}
a {
  text-decoration: none;
}



.offline {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f3fff6;
}

.offline h1 {
  color: #00a651;
  margin-top: 20px;
}

.offline p {
  color: #666;
  margin-top: 5px;
}

.spinner {
  width: 80px;
  height: 80px;
  border: 8px solid #d4f5df;
  border-top: 8px solid #00a651;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.toast {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: #00a651;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  z-index: 999;
}